<?xml version="1.0" encoding="UTF-8"?>
<!--Spring ioc的核心配置文件。所有对象的创建以及关联的设置都是在这个xml中来进行的 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--name="apple2,apple7"  能增加额外的标识-->
    <bean name="apple2,apple7" class="com.imooc.spring.ioc.entity.Apple" >
        <!--没有constructor-arg则代表调用默认构造方法实例化-->
        <constructor-arg name="title" value="青苹果2号"></constructor-arg>
        <constructor-arg name="color" value="青"></constructor-arg>
        <constructor-arg name="origin" value="中亚"></constructor-arg>
    <!--   这里price设置的是字符串，但会根据实体类中定义自动转变类型 字符串到数字的转换-->
        <constructor-arg name="price" value="99.9"></constructor-arg>
    </bean>

<!--    没有id和name的的bean默认使用类名全称作为bean标识-->
    <bean class="com.imooc.spring.ioc.entity.Apple" >
        <constructor-arg name="title" value="青苹果3号"></constructor-arg>
        <constructor-arg name="color" value="青"></constructor-arg>
        <constructor-arg name="origin" value="中亚"></constructor-arg>
        <constructor-arg name="price" value="99.9"></constructor-arg>
    </bean>

</beans>