# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\project\Jave_learn\第27-28周 Spring Boot电商项目实战\第1节 Spring Boot入门\spring-boot-learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
