# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\Jave_learn\cloud-mall-practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
