# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\project\Jave_learn\第25周 Spring MVC基础\第1节 SpringMVC入门与数据绑定\form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
